<h2>FAQ Copies:</h2>
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="field form-group">
            <%= content.label :faq_paragraph, "FAQ Paragraph:", class: "lead lead-lg" %>
            <%= content.text_area :faq_paragraph, required: true, :rows => 5, class: "form-control", id: "new_user_email" %>
          </div>
        </div>
      </div>