<header class="main-header">
  <div class="container">
    <h1 class="page-title">How It Works?</h1>

    <ol class="breadcrumb pull-right">
      <li><a href="#">Home</a></li>
      <li class="active">How It Works?</li>
    </ol>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <section class="animated fadeIn animation-delay-10">
        <h3 class="section-title">Steps How To Buy</h3>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-link">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Collapsible Step #1
              </a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veniam quidem perferendis quisquam.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-link">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                Collapsible Step #2
              </a>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veniam quidem perferendis quisquam.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-link">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                Collapsible Step #3
              </a>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <ol>
                  <li>Primero</li>
                  <li>Segundo</li>
                  <li>tercero</li>
                </ol>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veniam quidem perferendis quisquam.
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="animated fadeIn animation-delay-10">
        <h3 class="section-title">Steps When Already Buy</h3>
        <div class="panel-group" id="accordion2">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-link">
              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                Collapsible Step #1
              </a>
            </div>
            <div id="collapseOne2" class="panel-collapse collapse in">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veniam quidem perferendis quisquam.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-link">
              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" class="collapsed">
                Collapsible Step #2
              </a>
            </div>
            <div id="collapseTwo2" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veniam quidem perferendis quisquam.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-link">
              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" class="collapsed">
                Collapsible Step #3
              </a>
            </div>
            <div id="collapseThree2" class="panel-collapse collapse">
              <div class="panel-body">
                <ol>
                  <li>Primero</li>
                  <li>Segundo</li>
                  <li>tercero</li>
                </ol>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veniam quidem perferendis quisquam.
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="animated fadeIn animation-delay-10">
        <h3 class="section-title">Brokers</h3>
        <div class="panel-group" id="accordion3">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-link">
              <a data-toggle="collapse" data-parent="#accordion3" href="#collapseOne3">
                Collapsible Step #1
              </a>
            </div>
            <div id="collapseOne3" class="panel-collapse collapse in">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veniam quidem perferendis quisquam.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-link">
              <a data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo3" class="collapsed">
                Collapsible Step #2
              </a>
            </div>
            <div id="collapseTwo3" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veniam quidem perferendis quisquam.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-link">
              <a data-toggle="collapse" data-parent="#accordion3" href="#collapseThree3" class="collapsed">
                Collapsible Step #3
              </a>
            </div>
            <div id="collapseThree3" class="panel-collapse collapse">
              <div class="panel-body">
                <ol>
                  <li>Primero</li>
                  <li>Segundo</li>
                  <li>tercero</li>
                </ol>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veniam quidem perferendis quisquam.
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div> <!-- container -->