<header class="main-header">
  <div class="container">
    <h1 class="page-title">How It Works?</h1>

    <ol class="breadcrumb pull-right">
      <li><a href="#">Home</a></li>
      <li class="active">How It Works?</li>
    </ol>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="slogan text-center animated bounceInLeft animation-delay-12">Discover our jobs and the rigorous process of <span>creation</span>. <br> Our principles are <span>creativity</span>, <span>design</span>, <span>experience</span> and <span>knowledge</span>.</p>
      <h1 class="right-line no-margin-top">About us</h1>
    </div>

    <div class="col-md-12">
      <section class="animated fadeInDown animation-delay-8">
        <div class="row">
          <div class="col-md-8 col-md-offset-2" style="margin-bottom: 35px;">
            <img src="<%= asset_path('demo/team.jpg') %>" class="img-responsive imageborder" alt="Image">
          </div>
        </div>
        <p class="p-lg text-justify">Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Corpora, occulta eruditionem, vidisse videamus occultarum inciderit nocet dubitat studia fama latinam, redeamus miserius dissentio reici defatigatio honesta hinc doloremque. Pacto otiosum fecerit, propemodum ceramico exercitumque vidisse vocent orationis lucilius utrisque repugnantiumve mnesarchum. Democrito quaerimus monstret tradere magnosque bono eaque variis, beatam erat restincto ipse pariatur depravare istae status motum aequi, ludus loco suum posuit testibus cur oratoribus transferre corporis, fabellas labor, erga cyrenaicos male imperitos dicunt. Mentitum siculis brute oritur stoicis.</p>
        <h4>Other information</h4>
        <p class="p-lg text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ne albuci eorum <strong>disciplina</strong> invenerit gravissimis usque, voluptati aristippi maestitiam intuemur, ibidem platonem eveniet allevatio expectant reddidisti magnus quis. Tarentinis effluere quoniam evolutio oblivione eo expressas magnitudinem maior summum, placeat quosque concursio videatur verbi efficiantur intellegamus menandri, cupiditatibus dixissem, parta ultima, perfruique quidem quaerat quaerimus aperiam argumentandum, hinc consilio seditiones scriptorem dixissem superstitione occultum latinis mel falsarum, tuemur placet <strong>senserit existunt deteriora</strong>, perpauca cotidieque numquidnam, persequeretur attulit, paria permanentes, corporum quibusdam, exercitus.</p>
      </section>
      <section class="animated fadeIn animation-delay-10">
        <h3 class="section-title">Steps</h3>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-link">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Collapsible Step #1
              </a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veniam quidem perferendis quisquam.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-link">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                Collapsible Step #2
              </a>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veniam quidem perferendis quisquam.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-link">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                Collapsible Step #3
              </a>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veniam quidem perferendis quisquam.
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div> <!-- container -->