<header class="main-header">
  <div class="container">
    <h1 class="page-title">My Products</h1>

    <ol class="breadcrumb pull-right">
      <li><%= link_to "My Account", edit_user_registration_path(current_user) %></li>
      <li class="active">My Products</li>
    </ol>
  </div>
</header>

<div class="container">
  <div class="row">


  </div>
</div> <!-- container -->
<script>
  $(document).on('ready page:load', function(){
    activateMixItUp()
  });
</script>