/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

.htb-cta:hover {
  text-decoration: none;
}

p.product-thumbnail-text {
  font-size: .9em;
}

.white-text {
  color: white !important;
}

.white-text:hover {
  color: #23527c !important;
}

.validation-error {
  color: red;
}

.alert {
  right: 15px;
  top: 105px;
  z-index: 1100;
  position: fixed;
  span{
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0,0,0,0.07);
  // color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}