<div class="container">
  <div class="row">
    <h2 class="right-line">Edit Product</h2>
  </div>
  <%= render 'form' %>
</div>

<script>
  $(document).on('ready page:load', function(){
    var productType = $('select[name="product[product_type]"]').val();
    if( productType == "education"){
      $("input[name='product[section_title]']").removeAttr('required');
      $("input[name='product[section_title]']").val('');
      $("input[name='product[section_title]']").parent().hide();
      $("textarea[name='product[section_paragraph_1]']").removeAttr('required');
      $("textarea[name='product[section_paragraph_1]']").val('');
      $("textarea[name='product[section_paragraph_1]']").parent().hide();
      $("textarea[name='product[section_paragraph_2]']").removeAttr('required');
      $("textarea[name='product[section_paragraph_2]']").val('');
      $("textarea[name='product[section_paragraph_2]']").parent().hide();

      $("input[name='product[price_one_year]']").removeAttr('required');
      $("input[name='product[price_one_year]']").val('');
      $("input[name='product[price_one_year]']").parent().hide();
      $("input[name='product[price_open_source]']").removeAttr('required');
      $("input[name='product[price_open_source]']").val('');
      $("input[name='product[price_open_source]']").parent().hide();

      $("input[name='product[quality_1]']").removeAttr('required');
      $("input[name='product[quality_1]']").val('');
      $("input[name='product[quality_1]']").parent().hide();
      $("input[name='product[quality_2]']").removeAttr('required');
      $("input[name='product[quality_2]']").val('');
      $("input[name='product[quality_2]']").parent().hide();
      $("input[name='product[quality_3]']").removeAttr('required');
      $("input[name='product[quality_3]']").val('');
      $("input[name='product[quality_3]']").parent().hide();
      $("input[name='product[quality_4]']").removeAttr('required');
      $("input[name='product[quality_4]']").val('');
      $("input[name='product[quality_4]']").parent().hide();
      $("input[name='product[section_images_attributes][0][image]']").removeAttr('required');
      $("input[name='product[section_images_attributes][0][image]']").val('');
      $("input[name='product[section_images_attributes][1][image]']").removeAttr('required');
      $("input[name='product[section_images_attributes][1][image]']").val('');
      $("input[name='product[section_images_attributes][2][image]']").removeAttr('required');
      $("input[name='product[section_images_attributes][2][image]']").val('');
      $("input[name='product[section_images_attributes][3][image]']").removeAttr('required');
      $("input[name='product[section_images_attributes][3][image]']").val('');
      $("#section_images").hide();
    }

    $('form.new_product, form.edit_product').on('change','select[name="product[product_type]"]',function(){
      console.log(productType);
      productType = $('select[name="product[product_type]"]').val();
      if( productType == "education"){
        $("input[name='product[section_title]']").removeAttr('required');
        $("input[name='product[section_title]']").parent().hide();
        $("textarea[name='product[section_paragraph_1]']").removeAttr('required');
        $("textarea[name='product[section_paragraph_1]']").parent().hide();
        $("textarea[name='product[section_paragraph_2]']").removeAttr('required');
        $("textarea[name='product[section_paragraph_2]']").parent().hide();
        $("input[name='product[price_one_year]']").removeAttr('required');
        $("input[name='product[price_one_year]']").parent().hide();
        $("input[name='product[price_open_source]']").removeAttr('required');
        $("input[name='product[price_open_source]']").parent().hide();
        $("input[name='product[quality_1]']").removeAttr('required');
        $("input[name='product[quality_1]']").parent().hide();
        $("input[name='product[quality_2]']").removeAttr('required');
        $("input[name='product[quality_2]']").parent().hide();
        $("input[name='product[quality_3]']").removeAttr('required');
        $("input[name='product[quality_3]']").parent().hide();
        $("input[name='product[quality_4]']").removeAttr('required');
        $("input[name='product[quality_4]']").parent().hide();
        $("input[name='product[section_images_attributes][0][image]']").removeAttr('required');
        $("input[name='product[section_images_attributes][1][image]']").removeAttr('required');
        $("input[name='product[section_images_attributes][2][image]']").removeAttr('required');
        $("input[name='product[section_images_attributes][3][image]']").removeAttr('required');
        $("#section_images").hide();
      }else {
        $("input[name='product[section_title]']").attr('required', 'required');
        $("input[name='product[section_title]']").parent().show();
        $("textarea[name='product[section_paragraph_1]']").attr('required', 'required');
        $("textarea[name='product[section_paragraph_1]']").parent().show();
        $("textarea[name='product[section_paragraph_2]']").attr('required', 'required');
        $("textarea[name='product[section_paragraph_2]']").parent().show();
        $("input[name='product[price_one_year]']").attr('required', 'required');
        $("input[name='product[price_one_year]']").parent().show();
        $("input[name='product[price_open_source]']").attr('required', 'required');
        $("input[name='product[price_open_source]']").parent().show();
        $("input[name='product[quality_1]']").attr('required', 'required');
        $("input[name='product[quality_1]']").parent().show();
        $("input[name='product[quality_2]']").attr('required', 'required');
        $("input[name='product[quality_2]']").parent().show();
        $("input[name='product[quality_3]']").attr('required', 'required');
        $("input[name='product[quality_3]']").parent().show();
        $("input[name='product[quality_4]']").attr('required', 'required');
        $("input[name='product[quality_4]']").parent().show();
        $("input[name='product[section_images_attributes][0][image]']").attr('required', 'required');
        $("input[name='product[section_images_attributes][1][image]']").attr('required', 'required');
        $("input[name='product[section_images_attributes][2][image]']").attr('required', 'required');
        $("input[name='product[section_images_attributes][3][image]']").attr('required', 'required');
        $("input[name='product[section_images_attributes][0][image]']").show();
        $("input[name='product[section_images_attributes][1][image]']").show();
        $("input[name='product[section_images_attributes][2][image]']").show();
        $("input[name='product[section_images_attributes][3][image]']").show();
        $("#section_images").show();
      }
    });
  });
</script>