<aside id="footer-widgets">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="footer-widget-title">Sitemap</h3>
        <ul class="list-unstyled three_cols">
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/pages/trading_apps">Trading Products</a></li>
          <li><a href="/pages/how_it_works">How It Works?</a></li>
          <li><a href="/pages/faq">FAQ</a></li>
          <li><a href="/pages/my_store">Store</a></li>
          <li><a href="/pages/contact">Contact</a></li>
        </ul>
        <div class="col-md-6">
          <h3 class="footer-widget-title">Social</h3>
          <p>
            <a href="https://www.facebook.com/AldebaranTech" target="_blank" class="animated fadeIn animation-delay-8 facebook"><i class="fa fa-facebook"></i>   Facebook</a><br>
            <a href="https://www.twitter.com/AldebaranTech" target="_blank" class="animated fadeIn animation-delay-7 twitter"><i class="fa fa-twitter"></i>   Twitter</a><br>
            <a href="https://www.youtube.com/channel/UC5MgWUVE-O_i-1ihR1NhLnA" target="_blank" class="animated fadeIn animation-delay-9 instagram"><i class="fa fa-youtube"></i>   Youtube</a><br>
            <a href="https://www.linkedin.com/in/AldebaranTech" target="_blank" class="animated fadeIn animation-delay-7 linkedin"><i class="fa fa-linkedin"></i>   Linkedin</a><br>
            <a href="https://medium.com/@aldebarantech" target="_blank" class="animated fadeIn animation-delay-7 linkedin"><i class="fa fa-medium"></i> Medium</a>
          </p>
        </div>
        <div class="col-md-6">
          <h3 class="footer-widget-title">Contact Information</h3>
          <p>
            <ul class="list-unstyled">
              <li><strong>Monday-Friday</strong><br> 9am to 4pm <br> (New York Time)</li>

            </ul>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-widget">
          <h3 class="footer-widget-title">Latest Products</h3>

          <% @footer_items.each do |item| %>
            <div class="media">
              <%= link_to "<img class='media-object' src='#{item.logo.url(:mini_thumb)}'' width='75' height='75' alt='image'>".html_safe, item, class: "pull-left" %>
              <div class="media-body">
                <h4 class="media-heading"><%= link_to item.title, item %></h4>
                <small><%= item.created_at.strftime("%B %d, %Y") %></small>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-widget">
          <h3 class="footer-widget-title">Disclaimer</h3>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-justify">All trading involves risk. Leveraged trading has large potential rewards, but also large potential risk. You must be aware of the risks and be willing to accept them in order to invest in the financial markets. Don't trade with money you can't afford to lose. This is neither a solicitation nor an offer to Buy/Sell financial markets. No representation is being made that any account will or is likely to achieve profits or losses similar to those  discussed. The  past  performance  of  any  trading  system  or  methodology  is  not necessarily indicative of future results.
            </div>
          </div>
        </div>
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</aside> <!-- footer-widgets -->

<footer id="footer">
  <p>&copy; 2016 <a href="/">Aldebarantech</a>, All rights reserved.</p>
</footer>