<aside id="footer-widgets">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="footer-widget-title">Sitemap</h3>
        <ul class="list-unstyled three_cols">
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/pages/trading_apps">Trading Apps</a></li>
          <li><a href="/pages/how_it_works">How It Works?</a></li>
          <li><a href="/pages/faq">FAQ</a></li>
          <li><a href="/pages/my_store">Store</a></li>
          <li><a href="/pages/contact">Contact</a></li>
        </ul>
        <h3 class="footer-widget-title">Subscription</h3>
        <p>If you are interesting in our leatest releases, leave your email in the next field:</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Email Adress">
          <span class="input-group-btn">
            <button class="btn btn-ar btn-primary" type="button">Subscribe</button>
          </span>
        </div><!-- /input-group -->
      </div>
      <div class="col-md-4">
        <div class="footer-widget">
          <h3 class="footer-widget-title">Latest Products</h3>

          <% @footer_items.each do |item| %>
            <div class="media">
              <%= link_to "<img class='media-object' src='#{item.product_images.first.image.url(:mini_thumb)}'' width='75' height='75' alt='image'>".html_safe, item, class: "pull-left" %>
              <div class="media-body">
                <h4 class="media-heading"><%= link_to item.title, item %></h4>
                <small><%= item.created_at.strftime("%B %d, %Y") %></small>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-widget">
          <h3 class="footer-widget-title">Disclaimer</h3>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-justify">All trading involves risk. Leveraged trading has large potential rewards, but also large potential risk. You must be aware of the risks and be willing to accept them in order to invest in the financial markets. Don't trade with money you can't afford to lose. This is neither a solicitation nor an offer to Buy/Sell financial markets. No representation is being made that any account will or is likely to achieve profits or losses similar to those  discussed. The  past  performance  of  any  trading  system  or  methodology  is  not necessarily indicative of future results.
            </div>
          </div>
        </div>
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</aside> <!-- footer-widgets -->

<footer id="footer">
  <p>&copy; 2016 <a href="/">Aldebaran</a>, inc. All rights reserved.</p>
</footer>