<header id="header-full-top" class="hidden-xs header-full">
	<div class="container">
		<div class="header-full-title">
			<h1 class="animated fadeInRight"><%= link_to "Quantscience", root_path, class: "active" %></h1>
			<p class="animated fadeInRight">Technologies</p>
		</div>
		<nav class="top-nav">
			<ul class="top-nav-social hidden-sm">
				<li><%= link_to "How To Buy?", pages_how_it_works_path, class: "animated vine htb-cta" %></li>
				<li><a href="https://www.facebook.com/AldebaranTech" target="_blank" class="animated fadeIn animation-delay-8 facebook"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://www.twitter.com/AldebaranTech" target="_blank" class="animated fadeIn animation-delay-7 twitter"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://www.youtube.com/channel/UC5MgWUVE-O_i-1ihR1NhLnA" target="_blank" class="animated fadeIn animation-delay-9 instagram"><i class="fa fa-youtube"></i></a></li>
				<li><a href="https://www.linkedin.com/in/AldebaranTech" target="_blank" class="animated fadeIn animation-delay-7 linkedin"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="https://medium.com/@aldebarantech" target="_blank" class="animated fadeIn animation-delay-7 linkedin"><i class="fa fa-medium"></i></a></li>
			</ul>

			<div class="dropdown animated fadeInDown animation-delay-11">
				<% if user_signed_in? %>
					<%= link_to "<i class='fa fa-user'></i> Logout".html_safe, destroy_user_session_path, method: :delete %>
				<% else %>
					<%= link_to "<i class='fa fa-user'></i> Login".html_safe, new_user_session_path %>
				<% end %>

				<div class="dropdown-menu dropdown-menu-right dropdown-login-box animated fadeInUp">
					<form role="form">
						<h4>Login Form</h4>
						<div class="form-group">
							<div class="input-group login-input">
								<span class="input-group-addon"><i class="fa fa-user"></i></span>
								<input type="text" class="form-control" placeholder="Username">
							</div>
							<br>
							<div class="input-group login-input">
								<span class="input-group-addon"><i class="fa fa-lock"></i></span>
								<input type="password" class="form-control" placeholder="Password">
							</div>
							<div class="checkbox pull-left">
								<label>
									<input type="checkbox"> Remember me
								</label>
							</div>
							<button type="submit" class="btn btn-ar btn-primary pull-right">Login</button>
							<div class="clearfix"></div>
						</div>
					</form>
				</div>
			</div> <!-- dropdown -->
		</nav>
		<img src="http://i592.photobucket.com/albums/tt5/Mardini03/bdg_secured_by_pp_2line.png" alt="" class="text-center" id="paypal-img">
	</div> <!-- container -->
</header> <!-- header-full -->

<style>

	@media (max-width: 991px) {
		#paypal-img {
			position: relative;
	    top: 41px;
	    left: 209px;
	    /*width: 300px;*/
		}
	}

	@media (min-width: 992px) and (max-width: 1199px) {
		#paypal-img {
			position: relative;
	    top: -4px;
	    left: 429px;
	    /*width: 300px;*/
		}
	}

	@media (min-width: 1200px) {
		#paypal-img {
			position: relative;
	    top: 41px;
	    left: 629px;
	    /*width: 300px;*/
		}
	}

</style>
